! --------------------------------------------
!URXVT
! --------------------------------------------
!cores
*.foreground: #BCBCBC
*.background: #262626
*.color0:     #1C1C1C
*.color8:     #444444
*.color1:     #AF5F5F
*.color9:     #FF8700
*.color2:     #5F875F
*.color10:    #87AF87
*.color3:     #87875F
*.color11:    #FFFFAF
*.color4:     #5F87AF
*.color12:    #8FAFD7
*.color5:     #5F5F87
*.color13:    #8787AF
*.color6:     #5F8787
*.color14:    #5FAFAF
*.color7:     #6C6C6C
*.color15:    #FFFFFF

! Transparência
URxvt*transparent: true
URxvt*.shading: 20
URxvt*.depth: 32

! Ajustes
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollColor: #CCE8D4
URxvt*.thickness: 0.1

! Fontes
urxvt*font: xft:terminus:size=9:antialias=false

! Copy and Paste
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
