! --------------------------------------------
!URXVT
! --------------------------------------------
!cores
*.foreground: #BCBCBC
*.background: #262626
*.color0:     #1C1C1C
*.color8:     #444444
*.color1:     #AF5F5F
*.color9:     #FF8700
*.color2:     #5F875F
*.color10:    #87AF87
*.color3:     #87875F
*.color11:    #FFFFAF
*.color4:     #5F87AF
*.color12:    #8FAFD7
*.color5:     #5F5F87
*.color13:    #8787AF
*.color6:     #5F8787
*.color14:    #5FAFAF
*.color7:     #6C6C6C
*.color15:    #FFFFFF

! Transparência
URxvt*transparent: true
URxvt*.shading: 20
URxvt*.depth: 32

! Ajustes
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollColor: #CCE8D4
URxvt*.thickness: 0.1

! Fontes
urxvt*font: xft:terminus:size=11:antialias=false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281
